.footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position:absolute;
   bottom:0;
   width:100%;
   height:70px;   /* Height of the footer */
   background:#6cf;
}